<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit author</title>
    <style th:replace="~{fragments/menu :: menu-styles}"></style>
    <style th:replace="~{fragments/styles :: global-styles}"></style>
</head>
<body>

<!-- menu -->
<div class="nav-container">
    <div class="nav-menu" th:replace="~{fragments/menu :: main-menu}"></div>
</div>

<div class="content-container">
    <form id="edit-form" action="author.html" th:method="post">

        <div class="row" id="id-row">
            <label for="id-input">ID:</label>
            <input id="id-input" type="text" readonly="readonly" name="id"/>
        </div>

        <div class="row">
            <label for="author-name-input">Name:</label>
            <input id="author-name-input" name="fullName" type="text" required/>
            <!--        <div class="errors" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Wrong person name error</div>-->
        </div>

        <div class="row">
            <button type="button" onclick="saveAuthor()">Save</button>
            <a href="author.html" th:href="@{/authors}">
                <button type="button">Cancel</button>
            </a>
        </div>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const idInput = document.getElementById('id-input');
        const fullNameInput = document.getElementById('author-name-input');

        const pathParts = window.location.pathname.split('/');
        const authorId = pathParts[pathParts.length - 1];

        if (authorId && authorId !== 'new') {
            loadAuthor(authorId);
        }

        function loadAuthor(id) {
            fetch(`/api/v1/author/${id}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Author not found');
                    }

                    return response.json();
                })
                .then(author => {
                    idInput.value = author.id;
                    fullNameInput.value = author.fullName;
                })
                .catch(error => {
                    console.error('Error loading author', error);
                    alert('Failed to load author');
                })
        }

    });

    function saveAuthor() {
        const fullNameInput = document.getElementById('author-name-input');
        const idInput = document.getElementById('id-input');

        const authorData = {
            fullName: fullNameInput.value
        };

        if (idInput.value) {
            authorData.id = idInput.value;
        }

        const endpointUrl = idInput.value
                                ? `/api/v1/author/${authorData.id}`
                                : `/api/v1/author`;
        const method = idInput.value ? 'PUT' : 'POST';

        const authorNew = !idInput.value;

        fetch(endpointUrl, {
            method: method,
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(authorData)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Save failed');
                }

                return response.json();
            })
            .then(updatedAuthor => {
                alert('Author saved successfully!');
                if (authorNew) {
                    window.location.replace(`/author/${updatedAuthor.id}`);
                } else {
                    fullNameInput.value = updatedAuthor.fullName;
                }
            })
            .catch(error => {
                console.error('Error saving author:', error)
                alert('Failed to save author');
            });
    }

</script>

</body>
</html>
