<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Edit genre</title>
  <style th:replace="~{fragments/menu :: menu-styles}"></style>
  <style th:replace="~{fragments/styles :: global-styles}"></style>
</head>
<body>

<!-- menu -->
<div class="nav-container">
  <div class="nav-menu" th:replace="~{fragments/menu :: main-menu}"></div>
</div>

<div class="content-container">
  <form id="edit-form" action="genre.html" th:method="post">

    <div class="row">
      <label for="id-input-genre">ID:</label>
      <input id="id-input-genre" type="text" readonly="readonly" name="id"/>
    </div>

    <div class="row">
      <label for="genre-name-input">Name:</label>
      <input id="genre-name-input" name="name" type="text"/>
      <!--        <div class="errors" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Wrong person name error</div>-->
    </div>

    <div class="row">
      <button type="button" id="genre-save">Save</button>
      <a href="genre.html" th:href="@{/genres}">
        <button type="button">Cancel</button>
      </a>
    </div>
  </form>
</div>

<script type="module" src="../static/js/ui/view/genre.js" th:src="@{/js/ui/view/genre.js}"></script>

<!--<script>-->
<!--  document.addEventListener('DOMContentLoaded', function () {-->
<!--    const idInput = document.getElementById('id-input');-->
<!--    const fullNameInput = document.getElementById('genre-name-input');-->

<!--    const pathParts = window.location.pathname.split('/');-->
<!--    const genreId = pathParts[pathParts.length - 1];-->

<!--    if (genreId && genreId !== 'new') {-->
<!--      loadAuthor(genreId);-->
<!--    }-->

<!--    function loadAuthor(id) {-->
<!--      fetch(`/api/v1/genre/${id}`)-->
<!--              .then(response => {-->
<!--                if (!response.ok) {-->
<!--                  throw new Error('Genre not found');-->
<!--                }-->

<!--                return response.json();-->
<!--              })-->
<!--              .then(genre => {-->
<!--                idInput.value = genre.id;-->
<!--                fullNameInput.value = genre.name;-->
<!--              })-->
<!--              .catch(error => {-->
<!--                console.error('Error loading genre', error);-->
<!--                alert('Failed to load genre');-->
<!--              })-->
<!--    }-->

<!--  });-->

<!--  function saveGenre() {-->
<!--    const nameInput = document.getElementById('genre-name-input');-->
<!--    const idInput = document.getElementById('id-input');-->

<!--    const genreData = {-->
<!--      name: nameInput.value-->
<!--    };-->

<!--    if (idInput.value) {-->
<!--      genreData.id = idInput.value;-->
<!--    }-->

<!--    const endpointUrl = idInput.value-->
<!--            ? `/api/v1/genre/${genreData.id}`-->
<!--            : `/api/v1/genre`;-->
<!--    const method = idInput.value ? 'PUT' : 'POST';-->

<!--    const genreNew = !idInput.value;-->

<!--    fetch(endpointUrl, {-->
<!--      method: method,-->
<!--      headers: {-->
<!--        'Accept': 'application/json',-->
<!--        'Content-Type': 'application/json'-->
<!--      },-->
<!--      body: JSON.stringify(genreData)-->
<!--    })-->
<!--            .then(response => {-->
<!--              if (!response.ok) {-->
<!--                throw new Error('Save failed');-->
<!--              }-->

<!--              return response.json();-->
<!--            })-->
<!--            .then(updatedGenre => {-->
<!--              alert('Genre saved successfully!');-->
<!--              if (genreNew) {-->
<!--                window.location.replace(`/genre/${updatedGenre.id}`);-->
<!--              } else {-->
<!--                nameInput.value = updatedGenre.name;-->
<!--              }-->
<!--            })-->
<!--            .catch(error => {-->
<!--              console.error('Error saving genre:', error)-->
<!--              alert('Failed to save genre');-->
<!--            });-->
<!--  }-->
<!--</script>-->

</body>
</html>
