<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>
    <style th:replace="~{fragments/menu :: menu-styles}"></style>
    <style th:replace="~{fragments/styles :: table-styles}"></style>
    <style th:replace="~{fragments/styles :: global-styles}"></style>
</head>
<body>

<!-- menu -->
<div class="nav-container">
    <div class="nav-menu" th:replace="~{fragments/menu :: main-menu}"></div>
</div>

<div class="content-container">
    <div class="table-header">
        <h2>List of books</h2>
        <a th:href="@{/book/new}" class="create-button-action">new</a>
    </div>

    <table class="books">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td>
                <a th:href="@{/book/{id}(id=${book.id()})}" href="book.html" th:text="${book.title()}">BookTitle_1</a>
            </td>
            <td th:text="${book.author()?.fullName()}">Author_1</td>
            <td>
                <form th:action="@{bookDelete(bookId=${book.id()})}" method="post">
                    <button type="submit" class="btn-link">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
