spring:
  datasource:
    url: jdbc:h2:mem:jamtime_db;
    driverClassName: org.h2.Driver
    username: sa
    password: sa
  jpa:
    generate-ddl: false
    hibernate:
      ddl-auto: validate #не будем автоматически генерировать сущности
    #      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true
      path: /h2-console

  liquibase:
    enabled: true
    parameters:
      csv.allowQuotedData: true
    contexts: dev
  output:
    ansi:
      enabled: always
  shell:
    interactive:
      enabled: true

  mvc:
    servlet:
      path: /api/v1 #базовый url для ENDPoints

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui
    operations-sorter: method
    tags-sorter: alpha
    display-request-duration: true

jwt:
  secret: "SuperSecretJamKey2025!jabjbedjahwdjahwbdjhwbdjahbjwdbh"  #сменить вынести в ENV
  expiration: 3600000  # 1 час

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE